@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 310px;
    margin: 0 auto;
    padding: 50px 20px;
}

article {
    color: white;
    padding: 40px;
    height: 320px;
}

article > img {
    width: 20%;
}

article#sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 8px 0 0;
}

article#suvs {
    background-color: hsl(184, 100%, 22%);
}

article#luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 8px 8px;
}

article > h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 30px;
}

article h1, p, img {
    margin-bottom: 25px;
}

article > p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5rem;
}

button > a {
    text-decoration: none;
}

.btn-sedans, .btn-suvs, .btn-luxury {
    background-color: white;
    font-size: 15px;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.btn-sedans {
    color: hsl(31, 77%, 52%);;
}

.btn-suvs{
    color: hsl(184, 100%, 22%);
}

.btn-luxury {
    color: hsl(179, 100%, 13%);
}

button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
